.login2(ng-controller='SignInCtrl')
  .login-wrapper
    a(href='./')
      img(width='190', height='90', src='/static/logo/exports/qbao.png', title='Qbao-STF')

    form(name='signin', novalidate, ng-submit='registe()')
      .alert.alert-danger(ng-show='error')
        span(ng-show='error.$invalid')  参数校验失败
        span(ng-show='error.$server') 服务器异常，请查看日志
        span(ng-show='error.$qbaoError') {{ message }}
      .alert.alert-success(ng-show='success')
        span 恭喜你！注册成功，请登陆注册邮箱验证，{{ timeLeft }} 秒后跳转登录界面

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-user
          input.form-control(ng-model='username', name='username', required, type='text', placeholder='用户名',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login username')
        .alert.alert-warning(ng-show='signin.username.$dirty && signin.username.$invalid')
          span 请输入你的用户名

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-envelope
          input.form-control(ng-model='email', name='email', required, type='email', placeholder='邮箱',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login email')
        .alert.alert-warning(ng-show='signin.email.$dirty && signin.email.$invalid')
          span(ng-show='signin.email.$error.email') 请输入正确的邮箱地址
          span(ng-show='signin.email.$error.required') 请输入你的邮箱
      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-lock
          input.form-control(ng-model='passwd', name='passwd', required, type='password', placeholder='密码',
          autocorrect='off', autocapitalize='off', spellcheck='false')
        .alert.alert-warning(ng-show='signin.passwd.$dirty && signin.passwd.$invalid')
          span 请输入你的密码
      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-lock
          input.form-control(ng-model='repasswd', name='repasswd', required, type='password', placeholder='确认密码',
          autocorrect='off', autocapitalize='off', spellcheck='false')
        .alert.alert-warning(ng-show='signin.repasswd.$dirty && signin.repasswd.$invalid')
          span 请再次输入你的密码

      input.btn.btn-lg.btn-primary.btn-block(type='submit', value='注册')
